<div class="container">
  <div class="row">
    <ul class="table table-hover">
      <thead>
      </thead>
    </table>
    <ul class="list-group">
      <li class="list-group-item build-item header">
        <b>
        <p class="item">Changelist / Build</p>
        <p class="item">Owner</p>
        <p class="item">Time Started</p>
        <p class="item">State</p>
        <p class="item item-box">Metrics</p>
        <p class="item item-box">Build</p>
        <p class="item item-box">Unit Test</p>
        <p class="item item-box">Functional Test</p>
        </b>
      </li>
      <li class="list-group-item build-item" ng-repeat="build in main.builds | buildFilter" ng-click="openDetails(build)" ng-class="{'disabled': disabledDetails(build.state)}">
        <p class="item">{{ build.name }}</p>
        <p class="item">{{ build.owner }}</p>
        <p class="item">{{ build.timeStarted }}</p>
        <p class="item">{{ build.state }}</p>
        <p class="item item-box">{{ build.metricsState }}</p>
        <p class="item item-box">{{ build.buildState }}</p>
        <p class="item item-box">{{ build.unitState }}</p>
        <p class="item item-box">{{ build.functionalState }}</p>
        <p class="build-details" ng-class="{ 'hidden': !build.opened }">
          more details go here!!
        </p>
      </li>
    </ul>
  </div>
</div>
